$primary-color: #c73246;
$secondary-dark-color: #4a4a4a;
$secondary-light-color: #a5a0a0;
$text-color: #fcfaf8;
$background-color: #fcfaf8;
$link-color: darken(#a2a2a2, 35%);
$light-grey: darken(#d0cdcd, 10%);
$dark-grey: #5c5959;

.is-text-primary {
    color: $primary-color;
}

.is-background-primary {
    background-color: $primary-color;
}

.is-background-light-grey {
    background-color: $light-grey;
}

.is-background-dark-grey {
    background-color: $dark-grey;
}

.form-control:focus {
    border: none;
    box-shadow: none;
}