@import "helpers/colors";

.box {
    width: 300px;
    padding: 20px;
    float: right;
    border: 1px solid $primary-color;
    text-align: center;
    margin: 20px;
}

@media (max-width: 576px) {
    .box {
        float: none;
        margin: 0 auto;
        width: 90%;
    }
}