@import "helpers/colors";

.footer {
    background-color: $primary-color;
    padding: 0;

    a {
        text-decoration: none;
    }

    ul {
        list-style-type: none;
    }

    & a:hover {
        text-decoration: underline;
        color: white !important;
    }

    & svg:hover {
        fill: darken(white, 10%);
    }

    text-align: end;
}

.gamepad {
    width: 30%;
}